body {
	margin: 0,
	padding: 0;
	font-size: 14px;
	background: #f3f3f3;
}
.row {
	margin: 0;
}
.upload-bar {
	position: relative;
	padding: 20px;
	border-bottom: 1px solid #ccc;
}
.upload-bar > strong {
	text-transform: uppercase;
}
.upload-btn {
	position: absolute;
	right: 0px;
	cursor: pointer;
}
.input-file-hidden {
	visibility: hidden;
	width: 66px;
	margin-left: -66px;
}
.flex-column {
	padding: 15px;
}

.document > .title {
	background: #4077e4;
	padding: 10px;
	color: #fff;
}
.title > h3 {
	font-size: 22px;
	font-weight: 600;
	margin: 0;
}
.document > .content {
	background: #fff;
}
.document > .content > iframe {
	border: 0;
}
.nav-link.active {
	color: #4e52c3;
	background-color: #fff !important;
	border-color: #dee2e6 #dee2e6 #fff;
	text-align: left;
	font-size: 14px;
	border-left: 4px solid #141ad8;
}
.nav-link > .upload {
	
}
.upload h6 {
	font-weight: 700;
	color: #3a4165;
}
.upload p {
	color: #525979;
	word-break: break-word;
}